@import url('https://fonts.googleapis.com/css?family=Nunito|Comfortaa&family=Dosis:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Nunito', sans-serif;
}

.song {
	border-bottom: solid 1px black;
	margin-bottom: 40px;
	margin-top: 40px;
}

.song h3 {
	font-size: 24px;
}

.song div {
	margin-bottom: 40px;
}

.segment {
	display: flex;
	align-items: center;
}

.note {
	display: flex;
	font-size: 22px;
	margin-right: 20px;
}

.sharp {
	font-size: 10px;
}

.one-note {
	width: 22px;
}

.sax {
	display: flex;
	width: 100px;
}
