@import url('https://fonts.googleapis.com/css?family=Nunito|Comfortaa&family=Dosis:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Rajdhani', sans-serif;
}

.song {
	border-bottom: solid 1px black;
}

.song h3 {
	font-size: 24px;
}

.note {
	font-size: 22px;
	margin-right: 20px;
}

div {
	display: block;
	margin-bottom: 40px;
}