@import url('https://fonts.googleapis.com/css?family=Nunito|Comfortaa&family=Dosis:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Nunito', sans-serif;
}

.song {
	padding: 10px 0px;
	border-bottom: solid 1px black;
	cursor: pointer;
}

.song-title {
	font-size: 24px;
}

.parts {
	display: none;
}

.part {
	margin-bottom: 40px;
}

.segment {
	display: flex;
	align-items: center;
}

.note {
	display: flex;
	font-size: 22px;
	margin-right: 20px;
}

.sharp {
	font-size: 10px;
}

.one-note {
	width: 22px;
}

.sax {
	display: none;
	width: 100px;
}

.expand-all-btn {

}
